// ESLINT:
/* global L, moment, $ */

'use strict';

const MAX_RADIUS = 50;	// Radius distance in miles

const Unit = {
	mi2km: mi => mi * 1.609,
	mi2m: mi => Unit.mi2km(mi) * 1000,
	km2mi: km => km / 1.609,
	m2mi: m => Unit.km2mi(m / 1000)
};

class Ebird {
	static getBirds(lat, lng, radius) {
		const request = {
			url: '/ebird/birds',
			method: 'GET',
			timeout: 0,
			data: {
				lat,
				lng,
				radius
			}
		};

		return new Promise(resolve => {
			$.ajax(request).done(birds => {
				birds.forEach(bird => {
					bird.obs.date = new Date(bird.obs.date);
					bird.loc.latLng = L.latLng(bird.loc.lat, bird.loc.lng);
				});
				resolve(birds);
			});
		});
	}
}

class BirdMap {
	constructor(elementId, currentPosition) {

		const tileLayerSource = 'https://a.tiles.mapbox.com/styles/v1/lohneswright/ciocejooj006obdnjhmd2x9qp/tiles/{z}/{x}/{y}?access_token={accessToken}';

		const map = L.map(elementId).setView([37.42, -121.91], 13);

		L.tileLayer(tileLayerSource, {
			maxZoom: 22,
			// subdomains: 'abcd',
			accessToken: 'pk.eyJ1IjoibG9obmVzd3JpZ2h0IiwiYSI6IngzbVlqNnMifQ.OwxjrBKoGXc60NB5x6GKzw',
			attribution: '<a href="http://jawg.io" title="Tiles Courtesy of Jawg Maps" target="_blank">&copy; <b>Jawg</b>Maps</a> &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(map);

		this.map = map;

		this.icon = {
			bird: {
				selected: L.divIcon({
					html: '<i class="fa-solid fa-dove fa-2x"></i>',
					iconSize: [20, 20],
					className: 'bird-icon-selected'
				}),
				marker: L.divIcon({
					html: '<i class="fa-solid fa-dove fa-2x"></i>',
					iconSize: [20, 20],
					className: 'bird-icon'
				})
			}
		}

		this.position = currentPosition;

		this.map.panTo(currentPosition);

		const km = MAX_RADIUS * 1000;

		const m = Math.floor(km * Math.sqrt(2));

		const bounds = currentPosition.toBounds(m);

		this.map.once('moveend', () => {
			this.map.setMinZoom(this.map.getZoom());

			this.markers = L.markerClusterGroup();

			this.markers.on('clusterclick', () => {
				if (this.selected) this.selected.setIcon(this.icon.bird.marker);
				$('.overlay').attr('hidden', '');
			});

			this.selected = null;

			this.map.on('moveend', () => this.loadBirds());

			this.map.addLayer(this.markers);

			this.loadBirds();
		});

		this.map.fitBounds(bounds);
	}

	async loadBirds() {
		const {
			lat, lng
		} = this.getCurrPosition();
		const birds = await Ebird.getBirds(lat, lng, this.getRadius());
		const bounds = this.map.getBounds();
		const markers = birds
			.filter(bird => bounds.contains(bird.loc.latLng))
			.map(bird => this.createBird(bird.loc.latLng, bird));

		markers.forEach(marker => {
			const alreadyExists = this.markers.getLayers().find(mapMarker => mapMarker.birdId === marker.birdId);
			if (!alreadyExists) this.markers.addLayer(marker);
		});
	}

	createMarker(latLng, icon) {
		const marker = L.marker(latLng, {
			icon,
			riseOnHover: true
		});

		marker.on('click', () => {
			const position = marker.getLatLng();
			if (this.selected) this.selected.setIcon(this.icon.bird.marker);
			this.selected = marker;
			this.selected.setIcon(this.icon.bird.selected);
			this.setCurrPosition(position);
		});

		return marker;
	}

	createBird(latLng, bird) {

		const marker = this.createMarker(latLng, this.icon.bird.marker);

		marker.birdId = bird.subId;

		marker.on('click', () => {
			const request = {
			url: '/ebird/bird',
			method: 'GET',
			timeout: 0,
			data: {
				sci: bird.name.sci,
				com: bird.name.com
				}
			};
			
			return new Promise(resolve => {
				$.ajax(request).done(img => {
						$('.overlay')
						.html(`
							<div class="expand-icon"></div>
							<div class="content">
								<div class="bird-name">${bird.name.com}</div>
								<div class="science-name">${bird.name.sci}</div>
								<div class="bird-img-wrapper">
									<img class="bird-img" src=${img.img} width=50% height=50%>
								</div>
								<div class="location-wrapper">
									<div class="location">Loc</div>
									<div class="separator"><i class="fa-solid fa-circle"></i></div>
									<div class="distance">${Unit.m2mi(marker.getLatLng().distanceTo(this.position)).toFixed(2)} mi</div>
								</div>
								<div class="description-wrapper">
									<div class="description-header">Description:</div>
									<div class="description-content">
										Clark's grebe is a North American waterbird species in the grebe family. Until the 1980s, it was thought to be a pale morph of the western grebe, which it resembles in size, range, and behavior. Intermediates between the two species are known.
									</div>
							</div>
							</div>
						`)
				.removeAttr('hidden');
				});
			});

			
		});

		return marker;
	}

	setCurrPosition(latLng) {
		this.map.panToOffset(latLng, [window.innerWidth / 4, 0]);
	}

	getCurrPosition() {
		return this.map.getCenter();
	}

	getRadius() {
		const bounds = this.map.getBounds();
		const ne = bounds.getNorthEast();
		const nw = bounds.getNorthWest();
		const m = nw.distanceTo(ne);
		const km = m / 1000;
		const r = Math.min(Math.ceil(km / Math.sqrt(2)), MAX_RADIUS);

		return r;
	}
}

class GPS {
	constructor() {
		this.watchId = null;
	}

	getCurrentPosition(defaultLat, defaultLng) {
		const defaultPosition = L.latLng(defaultLat, defaultLng);

		const options = {
			enableHighAccuracy: true,
			timeout: 5000,
			maximumAge: 0
		};

		return new Promise(resolve => {
			navigator.geolocation.getCurrentPosition(
				position => {
					const {
						coords
					} = position;
					const {
						latitude, longitude
					} = coords;

					resolve(L.latLng(latitude, longitude));
				},
				() => resolve(defaultPosition),
				options
			);
		});
	}

	watchCurrentPosition(onPosChange) {
		const defaultPosition = L.latLng(defaultLat, defaultLng);

		const options = {
			enableHighAccuracy: true,
			timeout: 5000,
			maximumAge: 0
		};

		const watchId = navigator.geolocation.watchPosition(
			position => {
				const {
					coords
				} = position;
				const {
					latitude, longitude
				} = coords;

				onPosChange(L.latLng(latitude, longitude));
			},
			() => onPosChange(defaultPosition),
			options
		);
		this.watchId = watchId;

		return watchId;
	}

	clearWatchCurrentPosition() {
		if (!this.watchId) throw new Error('Not currently watching position');

		navigator.geolocation.clearWatch(this.watchId);

		this.watchId = null;
	}
}

let mymap = null;
let gps = null;

window.addEventListener('load', async () => {
	L.Map.prototype.panToOffset = function(latlng, offset, options) {
		const x = this.latLngToContainerPoint(latlng).x - offset[0];
		const y = this.latLngToContainerPoint(latlng).y - offset[1];
		const point = this.containerPointToLatLng([x, y]);
		return this.setView(point, this.getZoom(), {
			pan: options
		});
	};

	gps = new GPS();
	mymap = new BirdMap('leaflet-map', await gps.getCurrentPosition(37.8039, -122.2591));
});
